/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e5b99; /* Updated to a softer blue */
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s;
}

nav:hover {
    background-color: #4a90e2; /* Dark Blue on hover */
}

/* Aligns items to the left */
.nav-left {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px; /* Increased margin between links */
    font-weight: 600; /* Slightly less bold */
    position: relative; /* To create an underline effect */
    padding: 5px 0; /* Padding for the link */
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f4f4f4; /* Light Gray */
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    bottom: -5px; /* Positioned under the text */
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%; /* Full underline on hover */
}

nav button {
    background-color: #d9534f; /* Bootstrap Danger Color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

nav button:hover {
    background-color: #c9302c; /* Darker Red */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Register Button Style */
.register-button {
    background-color: #5cb85c; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 15px;
}

.register-button:hover {
    background-color: #4cae4c; /* Darker Green */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}
