.page-container,


.form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(124, 121, 121);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

form input:focus, form select:focus {
    border: 1px solid #4a90e2;
    outline: none;
}

form button {
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #3a7bc1; /* Darker Blue */
}

/* Additional styles to ensure form elements are visually appealing */
h2 {
    text-align: center;
    color: #333;
}

label {
    font-size: 1.1rem;
}
